@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:rgb(143, 143, 143);
}

.footer {
  display: flex;
  background-color: rgb(235, 235, 235);
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.left-links {
  display: flex;
  margin-right: auto;
  gap: 20px;
  padding: 0px;
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

.buttons {
  display: flex;
  gap: 30px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
